body {
  background-color: rgb(239, 239, 239);
  font: 400 1em/1.38 Helvetica;
  color: rgb(242, 242, 242);
}

.element {
  float: left;
  width: 76.6666666666%;
  margin-left: 11.66667%;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 76.6666666666%;
  height: 70px;
  margin: 18px 0 0 11.66667%;
  border-radius: 3px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(242, 242, 242);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}

._button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

._button:active {
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}

.element-1 {
  height: 301px;
  margin-top: 92px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(242, 242, 242);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.element-1:hover {
  border: 1 solid rgb(168, 168, 168);
  box-shadow: 0 3px 31px rgba(0, 0, 0, 0.36);
}

.element-1:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.element-2 {
  clear: both;
  height: 72px;
  margin-top: 23px;
  background: rgb(255, 61, 203);
  background: -webkit-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 83) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 83) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 83) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 83) 100%) rgb(222, 222, 222);
  background:         linear-gradient(134deg, rgb(255, 61, 203) 0%, rgb(191, 0, 83) 100%) rgb(222, 222, 222);
}

.element-2:hover {
  background-image: -webkit-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 31) 100%);
  background-image:    -moz-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 31) 100%);
  background-image:      -o-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 31) 100%);
  background-image:     -ms-linear-gradient(316deg, rgb(255, 61, 203) 0%, rgb(191, 0, 31) 100%);
  background-image:         linear-gradient(134deg, rgb(255, 61, 203) 0%, rgb(191, 0, 31) 100%);
}